.person {
  $card-padding: 0.75rem;
  $rank-size: 2rem;
  $transition-duration: 1s;

  position: relative;
  text-align: center;
  transition: transform $transition-duration ease-in-out;

  &::before {
    content: "";
    position: absolute;
    inset-inline: -$card-padding;
    top: -$card-padding;
    bottom: -3.5rem;
    z-index: -1;
    background: $color-bg-card;
    border-radius: $card-padding;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    z-index: 1;
    transform: scale(1.2);

    &::before {
      opacity: 1;
    }
  }

  &:hover &__avatar {
    border-radius: 3.75rem;
  }

  &:hover &__extra {
    opacity: 1;
  }

  &__photo {
    position: relative;
    width: $card-width;
    aspect-ratio: 1;
    margin-block-end: 0.5rem;
  }

  &__avatar {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    transition: border-radius $transition-duration ease-in-out;
  }

  &__rank {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    height: $rank-size;
    aspect-ratio: 1;
    font-size: 1rem;
    font-weight: 700;
    line-height: $rank-size;
    color: $color-text-secondary;
    background-color: $color-bg-surface;
    border-radius: 50%;
  }

  &__name {
    color: $color-text-primary;
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__extra {
    position: absolute;
    width: 100%;
    padding-top: 0.5625rem;
    font-size: 1.125rem;
    text-align: center;
    opacity: 0;
  }

  &__extra-sport::after {
    content: ",";
  }

  &__extra-pay {
    &::before {
      content: "$";
    }

    &::after {
      content: "M";
    }
  }
}
